<h1 mat-dialog-title>Rubros</h1>
<div mat-dialog-content>
	<div layout="row" layout-align="center end">
		<mat-form-field [style.width.%]="50">
			<mat-label>Nombre del Rubro</mat-label>
			<input matInput [(ngModel)]="data.nombrerubro" type="text" />
		</mat-form-field>
	</div>
</div>
<div mat-dialog-actions>
	<button
		[style.width.%]="49"
		mat-raised-button
		mat-dialog-close
		color="primary"
		(click)="guardarDatos(data)"
	>
		Guardar
	</button>
	<button
		mat-raised-button
		mat-dialog-close
		color="warn"
		[style.width.%]="49"
	>
		Cerrar
	</button>
</div>
