<div>
	<h2>Se ha producido un error</h2>
	<h5>
		Este error es debido a que la página que desea consultar no se
		encuentra disponible en estos momentos, puede deberse a cuestiones de
		mantenimiento o bien que la página no existe.
	</h5>
	<h4>
		Intente nuevamente mas tarde o bien dirijase a Inicio para continuar.
		Si el error se reitera por favor avise al administrador del sistema.
	</h4>
	<div class="example-button-container">
		<button
			mat-fab
			color="warn"
			aria-label="Example icon button with a home icon"
			routerLink="/"
		>
			<mat-icon>home</mat-icon>
		</button>
	</div>
</div>
<div>
	<h3><strong>INICIO</strong></h3>
</div>
