<mat-toolbar>
	<img
		src="../../../assets/reloj-icono.png"
		width="45"
		alt="Gual Street Home"
	/>
	<span class="title">Gual Street</span>
	<button mat-button [matMenuTriggerFor]="configuracion">
		<mat-icon
			aria-hidden="false"
			aria-label="Example home icon"
			fontIcon="settings"
		></mat-icon>
		Configuración
	</button>
	<mat-menu #configuracion="matMenu">
		<button mat-menu-item [matMenuTriggerFor]="productos">
			Productos
		</button>
		<mat-menu #productos="matMenu">
			<button mat-menu-item routerLink="productlist">
				Alta/Baja/Modificación
			</button>
			<button mat-menu-item routerLink="productquery">
				Consulta a Lista de Precios
			</button>
		</mat-menu>
		<button mat-menu-item [matMenuTriggerFor]="rubros">Rubros</button>
		<mat-menu #rubros="matMenu">
			<button mat-menu-item routerLink="rubroslist">
				Alta/Baja/Modificación
			</button>
			<button mat-menu-item routerLink="rubrosquery">
				Consulta a Rubros
			</button>
		</mat-menu>
		<button mat-menu-item [matMenuTriggerFor]="clientes">Clientes</button>
		<mat-menu #clientes="matMenu">
			<button mat-menu-item routerLink="clienteslist">
				Alta/Baja/Modificación
			</button>
			<button mat-menu-item routerLink="clientesquery">
				Consulta a Lista de Precios
			</button>
		</mat-menu>
		<button mat-menu-item [matMenuTriggerFor]="proveedores">
			Proveedores
		</button>
		<mat-menu #proveedores="matMenu">
			<button mat-menu-item routerLink="proveedoreslist">
				Alta/Baja/Modificación
			</button>
			<button mat-menu-item routerLink="proveedoresquery">
				Consulta a Proveedores
			</button>
		</mat-menu>
	</mat-menu>
	<button mat-button [matMenuTriggerFor]="menu_ventas">
		<mat-icon
			aria-hidden="false"
			aria-label="Example home icon"
			fontIcon="point_of_sale"
		></mat-icon>
		Ventas
	</button>
	<mat-menu #menu_ventas="matMenu">
		<button mat-menu-item [matMenuTriggerFor]="ventas">Ventas</button>
		<mat-menu #ventas="matMenu">
			<button mat-menu-item routerLink="ventas">
				Venta de Productos
			</button>
			<button mat-menu-item routerLink="ventas/listado">
				Listado de Ventas
			</button>
		</mat-menu>
	</mat-menu>

	<button mat-button [matMenuTriggerFor]="menu_compras">
		<mat-icon
			aria-hidden="false"
			aria-label="Example home icon"
			fontIcon="point_of_sale"
		></mat-icon>
		Compras
	</button>
	<mat-menu #menu_compras="matMenu">
		<button mat-menu-item [matMenuTriggerFor]="compras">Compras</button>
		<mat-menu #compras="matMenu">
			<button mat-menu-item routerLink="compras">
				Compra de Productos
			</button>
			<button mat-menu-item routerLink="compras/listado">
				Listado de Compras
			</button>
		</mat-menu>
	</mat-menu>
</mat-toolbar>
