<h1 mat-dialog-title>Producto</h1>
<div mat-dialog-content>
	<div layout="row" layout-align="center end">
		<mat-form-field [style.width.%]="50">
			<mat-label>Código de Barras del producto</mat-label>
			<input matInput [(ngModel)]="data.codigobarra" type="text" />
		</mat-form-field>
		<mat-form-field [style.width.%]="50">
			<mat-label>Rubro</mat-label>
			<mat-select [(ngModel)]="data.rubroid">
				<mat-option
					[value]="rubro.idrubros"
					*ngFor="let rubro of listaRubros"
				>
					{{ rubro.nombrerubro }}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div layout="row" layout-align="center end">
		<mat-form-field [style.width.%]="50">
			<mat-label>Nombre del Producto</mat-label>
			<input matInput [(ngModel)]="data.nombreproducto" type="text" />
		</mat-form-field>
		<mat-form-field [style.width.%]="50">
			<mat-label>Descripción del Producto</mat-label>
			<input matInput [(ngModel)]="data.descripcion" type="text" />
		</mat-form-field>
	</div>
	<div layout="row" layout-align="center end">
		<mat-form-field [style.width.%]="25">
			<mat-label>Venta U$D</mat-label>
			<input matInput [(ngModel)]="data.precioventa" type="number" />
		</mat-form-field>
		<mat-form-field [style.width.%]="25">
			<mat-label>Venta U$D</mat-label>
			<input
				matInput
				[(ngModel)]="data.precioventausd"
				type="number"
			/>
		</mat-form-field>
		<mat-form-field [style.width.%]="25">
			<mat-label>Compra $</mat-label>
			<input matInput [(ngModel)]="data.preciocompra" type="number" />
		</mat-form-field>
		<mat-form-field [style.width.%]="25">
			<mat-label>Compra U$D</mat-label>
			<input matInput [(ngModel)]="data.preciocompra" type="number" />
		</mat-form-field>

		<mat-form-field [style.width.%]="25">
			<mat-label>Existencia</mat-label>
			<input matInput [(ngModel)]="data.existencia" type="number" />
		</mat-form-field>
	</div>
</div>
<div mat-dialog-actions>
	<button
		[style.width.%]="49"
		mat-raised-button
		mat-dialog-close
		color="primary"
		(click)="guardarDatos(data)"
	>
		Guardar
	</button>
	<button
		mat-raised-button
		mat-dialog-close
		color="warn"
		[style.width.%]="49"
	>
		Cerrar
	</button>
</div>
